<h1>Electronic Home Care</h1>

<p>This is the home page for Electronic Home Care, an online tool for managing a home care agency.</p>

<%= link_to "Signup!", signup_path, :class => "signup_button round" %>